.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0%;
}

.next {
  right: 0%;
}

ul.margin-top {
  margin-top: 10px;
}

button#submit-form-button {
  width: auto;
}
