html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'playfair_displayregular', Helvetica, sans-serif, Poppin;
  margin: 0;
  background-color: white;
}

textarea {
  color: #1a2236;
}

textarea::placeholder {
  color: #7d7c84;
}

.textarea-text {
  min-height: 112px;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  padding: 2% 2%;
}

.d-flex {
  display: flex;
}

footer {
  flex-direction: column;
  background: #1a2236;
  align-content: center;
  justify-content: center;
  min-height: 20%;
}

footer ul {
  list-style: none;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 20%;
}

figure {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.h1-style {
  font-family: 'playfair_displayregular', Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 200;
  line-height: 100%;
  margin-bottom: 2%;
  transition-property: font-size;
  transition-duration: 3s;
  transition-delay: 1s;
}

.h1-style:hover {
  font-size: 60px;
}

h2 {
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #ffff;
  transition-property: font-size;
  transition-duration: 3s;
  transition-delay: 1s;
}

button {
  cursor: pointer;
}

ul.navbar {
  list-style: none;
}

p {
  font-size: 14px;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.blockImage {
  width: 100%;
  display: block;
}

.footer-imagelist {
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.content {
  flex-direction: column;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-around;
}

.content p {
  text-align: justify;
}

.content ul {
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  font-family: 'poppinsregular', Helvetica, sans-serif;
}

.container {
  max-width: 400px;
  height: 100vh;
  margin: 5vh auto;
  border: none;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  align-items: center;
  justify-content: space-between;
  border-right-width: 0.2vh;
}

.icon {
  margin-right: 2%;
}

.arrow-click {
  grid-area: 3/1/4/3;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 4vh;
}

.arrow-click img {
  justify-content: right;
  height: 40%;
}

.arrow-click img.display-hover {
  display: none;
}

.download-cv-button img.display-hover {
  display: none;
}

.arrow-click:hover img.display-hover {
  display: inline;
}

.arrow-click:hover img.display-first {
  display: none;
}

.cards img {
  height: 8em;
  width: 8em;
  justify-content: center;
  margin-left: 65%;
  display: block;
}

.download-cv-button img {
  justify-content: right;
  height: 70%;
}

.download-cv-button span.collaboration-button-span {
  margin-right: 5%;
}

.footer-get-resume {
  background-color: #1a2236;
  width: 50%;
  min-height: 20%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2.5%;
  align-items: center;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  border: none;
}

.footer-get-resume img {
  margin-left: 10%;
}

.footer-get-resume span {
  color: #92dcdc;
  font-size: 16px;
}

.download-cv-button {
  background-color: #1a2236;
  width: 100%;
  height: 6vh;
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
}

.download-cv-button:hover img.display-hover {
  display: inline;
}

.download-cv-button:hover img.display-first {
  display: none;
}

.download-cv-button:disabled {
  background-color: darkgrey;
}

.cards {
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 60vh;
  margin-top: 5%;
}

.cards h2 {
  margin-left: 3em;
}

.cards ul {
  margin-left: 2em;
  margin-bottom: 0;
}

.cards figure {
  margin-top: 0;
  display: block;
}

.cards.first {
  background-color: #1c528a;
}

.cards.second {
  background-color: #e2505c;
}

.cards.third {
  background-color: #febf52;
}

.wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-row-gap: 7%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 25% 25% 25%;
  background-color: black;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  min-height: 35vh;
  border: 0.333333px solid black;
  backdrop-filter: blur(1px);
  border-left-width: 3vh;
  border-bottom-width: 3vh;
  justify-content: space-between;
}

.grid-container h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 80%;
  max-width: 80%;
  max-height: 25%;
  color: white;
  grid-area: 1/1/4/4;
  margin-bottom: 0;
}

.grid-container h2:hover {
  font-size: 24px;
}

.cards h2:hover {
  font-size: 25px;
}

.grid-container button.arrow-click {
  color: white;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  height: auto;
  background-color: black;
  border: 1px solid #ffff;
}

.grid-container button.arrow-click:disabled {
  background-color: darkgray;
}

.grid-container button.arrow-click:hover {
  color: #1a2236;
  background-color: #ffff;
}

.grid-container button.arrow-click:active {
  border: 2px solid #1a2236;
}

.collaboration-button-span {
  color: #ffff;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

.collaboration-button {
  background-color: black;
  width: 100%;
  height: 6vh;
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: none;
}

.collaboration-button:hover,
.download-cv-button:hover {
  background-color: #ffff;
  border: 1px solid #1a2236;
}

.collaboration-button:hover span,
.download-cv-button:hover span {
  color: black;
}

.collaboration-button:active,
.download-cv-button:active {
  border: 2px solid #1a2236;
}

.collaboration-button:disabled {
  background-color: darkgray;
}

.code-buttons {
  grid-area: 2/1/4/4;
  max-height: 40%;
  min-width: auto;
  flex-wrap: wrap;
}

.code-buttons ul.d-flex {
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 100%;
  min-height: 70%;
  flex-wrap: wrap;
}

.code-buttons li.d-flex {
  min-width: 20%;
  min-height: 60%;
  line-height: 70%;
  font-weight: 300;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-right: 3%;
  padding: 2%;
  border: 1px solid grey;
  background-color: #98dede;
  color: #1a2236;
}

.code-buttons button {
  line-height: 80%;
  font-weight: 300;
  min-width: 20%;
  min-height: 40%;
  background-color: #98dede;
  color: #1a2236;
  display: inline-block;
}

.code-buttons a {
  line-height: 80%;
  font-weight: 300;
  min-width: 20%;
  min-height: 40%;
  background-color: #98dede;
  text-align: center;
  color: #1a2236;
  display: block;
  margin: 5%;
  text-decoration: none;
  border: 1px solid grey;
}

.contact-form-image {
  margin-top: 4%;
}

.contact-form-fieldset {
  flex-direction: column;
  border: none;
  padding: 0;
}

.contact-form-fieldset label.contact-form-fieldset-email {
  border: 1px solid #1a2236;
}

.contact-form-fieldset label.d-flex {
  flex-direction: column;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  margin-bottom: 2%;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  padding: 2% 2%;
}

label.fieldset-label:hover,
label.fieldset-label:active,
textarea:hover {
  border: 1px solid black;
  border-radius: 4px;
}

.contact-form-fieldset input {
  border: none;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.contact-form-fieldset input:focus {
  outline: none;
}

.contact-form-fieldset input::placeholder {
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}
