html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'playfair_displayregular', Helvetica, sans-serif, 'poppinsregular';
  margin: 0;
  background-color: white;
}

textarea {
  color: #1a2236;
}

textarea::placeholder {
  color: #7d7c84;
}

.textarea-text {
  min-height: 112px;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  padding: 2% 2%;
}

.d-flex {
  display: flex;
}

footer {
  flex-direction: column;
  background: #1a2236;
  align-content: center;
  justify-content: center;
  min-height: 20%;
}

footer ul {
  list-style: none;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 20%;
}

figure {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.h1-style {
  font-family: 'playfair_displayregular', Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 200;
  line-height: 100%;
  margin-bottom: 2%;
}

h2 {
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #ffff;
}

button {
  cursor: pointer;
}

ul.navbar {
  list-style: none;
}

.hide,
ul.navbar li:not(.header-img),
.landing-form div.landing-form-image,
.project-forms-row div.landing-form-image {
  display: none;
}

p {
  font-size: 14px;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.blockImage {
  width: 100%;
  display: block;
}

.footer-imagelist {
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.content {
  flex-direction: column;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-around;
}

.content p {
  text-align: justify;
}

.content ul {
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  font-family: 'poppinsregular', Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  height: 100vh;
  margin: 5vh auto;
  border: none;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  align-items: center;
  justify-content: space-between;
  border-right-width: 0.2vh;
}

.icon {
  margin-right: 2%;
}

.arrow-click {
  grid-area: 3/1/4/3;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 4vh;
}

.arrow-click img {
  justify-content: right;
  height: 40%;
}

.arrow-click img.display-hover {
  display: none;
}

.download-cv-button img.display-hover {
  display: none;
}

.arrow-click:hover img.display-hover {
  display: inline;
}

.arrow-click:hover img.display-first {
  display: none;
}

.cards img {
  height: 8em;
  width: 35%;
  justify-content: center;
  margin-left: 65%;
  display: block;
}

.download-cv-button img {
  justify-content: right;
  height: 70%;
}

.download-cv-button span.collaboration-button-span {
  margin-right: 5%;
}

.footer-get-resume {
  background-color: #1a2236;
  width: 50%;
  min-height: 20%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2.5%;
  align-items: center;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  border: none;
}

.footer-get-resume img {
  margin-left: 10%;
}

.footer-get-resume span {
  color: #92dcdc;
  font-size: 16px;
}

.download-cv-button {
  background-color: #1a2236;
  width: 100%;
  height: 6vh;
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
}

.download-cv-button:hover img.display-hover {
  display: inline;
}

.download-cv-button:hover img.display-first {
  display: none;
}

.download-cv-button:disabled {
  background-color: darkgrey;
}

.cards {
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 60vh;
  margin-top: 5%;
}

.cards h2 {
  margin-left: 3em;
}

.cards ul {
  margin-left: 2em;
  margin-bottom: 0;
}

.cards figure {
  margin-top: 0;
  display: block;
}

.cards.first {
  background-color: #1c528a;
}

.cards.second {
  background-color: #e2505c;
}

.cards.third {
  background-color: #febf52;
}

.wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-row-gap: 7%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 25% 25% 25%;
  background-color: black;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  min-height: 35vh;
  border: 0.333333px solid black;
  backdrop-filter: blur(1px);
  border-left-width: 3vh;
  border-bottom-width: 3vh;
  justify-content: space-between;
}

.grid-container h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 80%;
  max-width: 80%;
  max-height: 25%;
  color: white;
  grid-area: 1/1/4/4;
  margin-bottom: 0;
}

.grid-container button.arrow-click {
  color: white;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  height: auto;
  background-color: black;
  border: 1px solid #ffff;
}

.grid-container button.arrow-click:disabled {
  background-color: darkgray;
}

.grid-container button.arrow-click:hover {
  color: #1a2236;
  background-color: #ffff;
}

.grid-container button.arrow-click:active {
  border: 2px solid #1a2236;
}

.collaboration-button-span {
  color: #ffff;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

.collaboration-button {
  background-color: black;
  width: 100%;
  height: 6vh;
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: none;
}

.collaboration-button:hover,
.download-cv-button:hover {
  background-color: #ffff;
  border: 1px solid #1a2236;
}

.collaboration-button:hover span,
.download-cv-button:hover span {
  color: black;
}

.collaboration-button:active,
.download-cv-button:active {
  border: 2px solid #1a2236;
}

.collaboration-button:disabled {
  background-color: darkgray;
}

.code-buttons {
  grid-area: 2/1/4/4;
  height: 40%;
  min-width: auto;
  flex-wrap: wrap;
  margin-top: 1%;
}

.code-buttons ul.d-flex {
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 100%;
  min-height: 70%;
  flex-wrap: wrap;
}

.code-buttons li.d-flex {
  min-width: 20%;
  min-height: 60%;
  line-height: 70%;
  font-weight: 300;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-right: 3%;
  padding: 2%;
  border: 1px solid grey;
  background-color: #98dede;
  color: #1a2236;
}

.code-buttons button {
  line-height: 80%;
  font-weight: 300;
  min-width: 20%;
  min-height: 40%;
  background-color: #98dede;
  color: #1a2236;
  display: inline-block;
}

.code-buttons a {
  line-height: 80%;
  font-weight: 300;
  min-width: 20%;
  min-height: 40%;
  background-color: #98dede;
  text-align: center;
  color: #1a2236;
  display: block;
  margin: 5%;
  text-decoration: none;
  border: 1px solid grey;
}

.contact-form-image {
  margin-top: 4%;
}

.contact-form-fieldset {
  flex-direction: column;
  border: none;
  padding: 0;
}

.contact-form-fieldset label.contact-form-fieldset-email {
  border: 1px solid #1a2236;
}

.contact-form-fieldset label.d-flex {
  flex-direction: column;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  margin-bottom: 2%;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  padding: 2% 2%;
}

label.fieldset-label:hover,
label.fieldset-label:active,
textarea:hover {
  border: 1px solid black;
  border-radius: 4px;
}

.contact-form-fieldset input {
  border: none;
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.contact-form-fieldset input:focus {
  outline: none;
}

.contact-form-fieldset input::placeholder {
  font-family: 'poppinsregular', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

@media only screen and (min-width: 992px) {
  .header img,
  .header-img,
  .project-row-card img.blockImage {
    display: none;
  }

  .header,
  .header ul,
  .header li,
  .header ul.navbar,
  .container,
  .flex-landing-form,
  .project-forms-row,
  .project-forms-row header,
  .desktop-project-section,
  .desktop-version-project-2-card,
  .about-form-and-skill-form,
  .Desktop-Get-started,
  .contact-form-image,
  .form-fieldset-labels,
  .align-header {
    display: flex;
  }

  .desktop-version-project-2-card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-image: url(/Images/project-background.png);
    background-size: contain;
    resize: both;
    background-repeat: no-repeat;
  }

  .desktop-version-project-2-card-figure {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .icon {
    width: 100%;
    margin: 0;
  }

  .header {
    min-height: 12%;
    align-content: space-around;
    justify-content: center;
    width: 100%;
    background-color: #ffff;
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  .content {
    justify-content: space-between;
  }

  .header li {
    padding: 1% 0 1% 0;
    text-align: center;
    justify-content: center;
    height: 9%;
    margin-right: 4%;
  }

  .header ul.navbar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    list-style: none;
    font-family: 'poppinsregular', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    margin: 0;
    padding: 0;
  }

  .desktop-footer li {
    margin-right: 2%;
  }

  .header li:hover {
    text-decoration: underline;
    text-decoration-style: solid;
  }

  .landing-form {
    width: 40%;
    height: 100%;
    margin-left: 10%;
    align-content: center;
    margin-bottom: 0;
    padding: 0;
  }

  .landing-form p,
  .content p {
    justify-content: left;
    width: 80%;
    margin: 0;
  }

  .landing-form .collaboration-button,
  .content .download-cv-button {
    width: 50%;
    height: 6%;
    align-self: flex-start;
    margin: 0;
  }

  .content .download-cv-button {
    margin-top: 2%;
  }

  .content .download-cv-button span {
    width: 50%;
  }

  .img-float-right .blockImage {
    width: 100%;
    content: url(/svg/hello_form_img_right.svg);
  }

  .landing-form-image {
    width: 30%;
    align-self: flex-end;
  }

  .flex-landing-form h1,
  .content h3 {
    font-size: 90px;
  }

  .form-fieldset-labels {
    justify-content: space-between;
  }

  .contact-form-fieldset label.fieldset-label {
    margin-bottom: 0;
  }

  .contact-form-fieldset label.fieldset-label,
  div.form-fieldset-labels label.fieldset-label {
    border: 1px solid #f9f9fa;
    width: 45%;
  }

  form button.collaboration-button {
    width: 45%;
  }

  .contact-form-fieldset textarea {
    border: 1px solid #e0e0e0;
  }

  div.form-fieldset-labels label.fieldset-label:hover,
  div.form-fieldset-labels label.fieldset-label:active,
  div.form-fieldset-labels textarea:hover {
    border: 1px solid black;
    border-radius: 4px;
  }

  .flex-landing-form header {
    margin-bottom: 1%;
  }

  .img-float-right {
    width: 50%;
  }

  .flex-landing-form {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4%;
  }

  .container {
    border: none;
    max-width: none;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-forms-header {
    width: 40%;
    justify-content: center;
    margin-left: 10%;
  }

  .project-forms-row h3.h1-style {
    font-size: 90px;
    transform: rotate(-90deg);
    width: 100%;
    align-self: center;
    padding-bottom: 2%;
  }

  .project-forms-row header {
    justify-content: center;
    flex-wrap: wrap;
    align-content: baseline;
    width: 30%;
  }

  .project-forms-row {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 51vh;
  }

  .project-forms-row div.landing-form-image {
    width: 10%;
    align-self: flex-start;
  }

  .project-row-card {
    width: 60%;
  }

  .project-row-card figure {
    margin-top: 0;
    background-image: url(/Images/project-image-1.jpg);
    background-size: cover;
    height: 25%;
  }

  .grid-container h2 {
    font-size: 40px;
    color: #ffff;
    font-weight: bold;
  }

  .aside h2 {
    font-size: 30px;
  }

  .project-row-card .code-buttons li.d-flex {
    padding: 0;
    text-align: center;
  }

  .aside .code-buttons li.d-flex {
    border: none;
    height: 40%;
    text-align: center;
  }

  .project-row-card button.arrow-click {
    width: 40%;
  }

  .aside button.arrow-click {
    width: 60%;
  }

  .contact-form-image img {
    content: url(/svg/get-started-right.svg);
    resize: both;
    align-self: flex-start;
  }

  .contact-form-image-right img {
    content: url(/svg/get-started-left.svg);
    resize: both;
    align-self: flex-end;
  }

  .contact-form-image img,
  .contact-form-image-right img {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .cards.first img,
  .cards.second img {
    height: 25%;
  }

  .float-div figure.wrapper img {
    display: none;
  }

  .project-row-card button.arrow-click img,
  .aside button.arrow-click img {
    content: url(/svg/ic_arrow_right_darktheme.svg);
  }

  .desktop-frame div.cards.third img {
    height: 25%;
  }

  .project-row-card button.arrow-click,
  .aside button.arrow-click {
    max-height: 60%;
    color: #1a2236;
    background-color: #ffff;
  }

  .project-row-card button.arrow-click:hover img,
  .aside button.arrow-click:hover img {
    content: url(/svg/ic_arrowright.svg);
  }

  .project-row-card button.arrow-click:hover,
  .aside button.arrow-click:hover {
    color: #ffff;
    background-color: #1a2236;
  }

  .mobile-version-project-cards {
    display: none;
  }

  .float-div {
    flex-wrap: wrap;
    width: 34%;
    align-self: auto;
    justify-self: center;
    margin: 0 0 40% 66%;
    display: inline-block;
  }

  .hide {
    display: block;
  }

  .float-div .hide {
    width: 63%;
    display: inline-block;
  }

  .float-div figure.wrapper {
    margin-top: 0;
    background-image: url(/Images/project-image-6.jpg);
    background-size: cover;
    height: 25%;
  }

  .float-div .grid-container {
    height: 25%;
  }

  .grid-container-bottom {
    content: url(/Images/project-image-5.jpg);
    margin-top: 0;
    height: 30%;
  }

  div.desktop-version-project-2-card-figure {
    width: 100%;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffff;
    overflow: hidden;
  }

  .desktop-version-project-2-card-figure div.first {
    background-image: url(/Images/col-1-image.png);
    background-size: contain;
    margin-top: 25%;
    width: 100%;
  }

  .desktop-version-project-2-card-figure div.second {
    border-left: #ffff;
    background-image: url(/Images/row-2-image.png);
    background-size: cover;
    width: 100%;
  }

  .desktop-project-section {
    flex-direction: column;
    align-content: center;
  }

  .desktop-version-project-2-card-figure-2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .about-form-and-skill-form {
    flex-direction: row-reverse;
    align-content: center;
  }

  .about-form-and-skill-form .content {
    justify-content: center;
    width: 50%;
  }

  .desktop-frame {
    margin: 10% 0 10% 10%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .desktop-frame .cards {
    height: 25%;
    width: 50%;
    min-height: 50%;
  }

  .desktop-frame div.cards.third {
    overflow: hidden;
  }

  .desktop-frame div.cards.second img,
  .desktop-frame div.cards.third img {
    margin-left: 58%;
    width: 42%;
  }

  .desktop-frame div.cards.third,
  .desktop-frame div.cards.desktop-card-fourth {
    margin-top: 0;
  }

  .desktop-frame div.cards.desktop-card-fourth img {
    margin-left: 59%;
    width: 41%;
  }

  ul.navbar li:not(.header-img),
  .landing-form div.landing-form-image,
  .project-forms-row div.landing-form-image {
    display: inline-block;
  }

  .desktop-contact-form .header {
    box-shadow: none;
  }

  .desktop-contact-form .header h3.h1-style {
    margin: 0;
    background-color: inherit;
    height: 100%;
    border: none;
  }

  .Desktop-Get-started .content header,
  .Desktop-Get-started {
    background: #f9f9fa;
  }

  .Desktop-Get-started {
    background: #f9f9fa;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    min-height: 90%;
  }

  .Desktop-Get-started section.desktop-contact-form p {
    align-self: center;
    width: 80%;
    margin: 2% 1% 2% 1%;
  }

  .Desktop-Get-started section.desktop-contact-form form {
    align-self: center;
    width: 80%;
  }

  .Desktop-Get-started.contact-form-image,
  .Desktop-Get-started.contact-form-image-right {
    width: 10%;
  }

  .Desktop-Get-started.desktop-contact-form {
    width: 80%;
  }

  .contact-form-image header.header,
  .contact-form-image-right header.header {
    height: 100%;
    background-color: inherit;
  }

  .Desktop-Get-started,
  .desktop-footer {
    width: 100%;
  }

  .Desktop-Get-started .content {
    height: 100%;
    justify-content: center;
    padding: 0 4% 0 4%;
  }

  .Desktop-Get-started div.contact-form-image {
    margin-top: 0;
    min-height: 100%;
  }

  .desktop-footer {
    flex-direction: row;
    justify-content: space-around;
    min-height: 10%;
  }

  .desktop-footer ul {
    align-items: center;
    width: 30%;
  }

  .desktop-contact-form .contact-form-fieldset {
    width: 100%;
    align-self: center;
  }

  .align-header {
    flex-direction: column;
    width: 90%;
    align-self: center;
  }
}
